{% extends 'investimentos/base.html' %}
{% load crispy_forms_tags %}
{% block conteudo %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <h1>Cadastrar novo usuário</h1>
            <form method="post">
                {% csrf_token %}
                {{ formulario | crispy }}
                <button class="btn btn-primary" type="submit">Criar novo usuário</button>
                <a href="{% url 'login' %}">Já possui uma conta? Entre aqui</a>
            </form>
    </div>
</body>
</html>
{% endblock %}